myvenv
.env
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache
.coverage
htmlcov
.tox
.mypy_cache
.DS_Store
*.log
logs/
instance/
*.db
*.sqlite
*.sqlite3
migrations/
.git
.gitignore
README.md
API.md
Notes.md
notes.txt
lms_db.txt
Dockerfile
docker-compose.yml
entrypoint.sh
.dockerignore
.vscode
.idea